@import '@base/constants.scss';
@import '@base/mixins';

.mainGameContainer {
  display: flex;
  justify-content: center;

  &__centered {
    padding: 1rem;
    position: relative; /* Assure que les éléments positionnés absolument soient relativement positionnés à ce conteneur */

    @include breakpoint(sm) {
      width: initial;
      position: initial;
      top: initial;
      left: initial;
      transform: translate(0, 0);
      height: initial;
      min-height: initial;
      margin: 1rem;
      padding: 1rem;
    }

    @include breakpoint(md) {
      background-color: $bgColor; // Utilisation de la variable définie dans constants.scss
      padding: 1rem;
      border-radius: 5px;
      width: 500px;
      min-height: 1024px;
    }

    &--blue {
      border: 0.2rem solid rgb(0, 132, 255);
    }

    &--green {
      border: 0.2rem solid rgb(14, 214, 64);
    }

    &--red {
      border: 0.2rem solid rgb(255, 0, 0);
    }
  }
}

/* Responsive */
@include breakpoint(sm) {
  .mainGameContainer__centered {
    padding: 1rem;
  }
}
