// Base URL for assets
$urlSite: 'http://localhost:3000';

// Path for images
$imgPath: '/img/';

// Path for fonts
$fontPath: '/fonts/';

// Font file name
$fontNameFile: 'spaceranger';

// Font name
$fontName: 'Space Ranger';

// Background image path for thunder
$bgThunder: "#{$imgPath}thunder.base64";

// Background color
$bgColor: white;

// Width for image items
$imgItemsWidth: 6rem;

// Breakpoints for responsive design
$breakpoints: (
  sm: (
    min: 300px,
    max: 675.98px,
  ),
  md: (
    min: 676px,
    max: 991.98px,
  ),
  lg: (
    min: 992px,
    max: 1199.98px,
  ),
  xl: (
    min: 1200px,
    max: 1399.98px,
  ),
  xxl: (
    min: 1400px,
    max: 2599.98px,
  ),
);
