@import '@base/colors.scss';
@import '@base/_constants.scss';
@import '@base/_animations.scss';
@import '@base/_mixins';

// Font
@include declare-font-face($urlSite, $fontPath, $fontNameFile, $fontName);

body[data-first] .mainGameContainer__centered {
  color: $bodyDataFirstColor;
  background-color: $bodyDataFirstBgColor;
}

body[data-second] .mainGameContainer__centered {
  color: $bodyDataSecondColor;
  background-color: $bodyDataSecondBgColor;
}

/* Responsive */

// Theme light or night
@include breakpoint(md) {
  body[data-first] {
    background: linear-gradient(-45deg, $bodyDataFirstBgColorMdBlack, $bodyDataFirstBgColorMdBlue1, $bodyDataFirstBgColorMdBlack, $bodyDataFirstBgColorMdBlue2);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }

  body[data-second] {
    background: linear-gradient(
      -45deg,
      $bodyDataSecondBgColorMdWhite,
      $bodyDataSecondBgColorMdBlue1,
      $bodyDataSecondBgColorMdWhite,
      $bodyDataSecondBgColorMdBlue2
    );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
}
