@import '@base/constants.scss';
@import '@base/animations.scss';
@import '@base/mixins';

body[data-first] .mainGameContainer__centered {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

body[data-second] .mainGameContainer__centered {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

/* Responsive */

// Theme light or night
@include breakpoint(md) {
  body[data-second] {
    background: linear-gradient(-45deg, #ffffff, #3cb7ff, #ffffff, #55adff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }

  body[data-first] {
    background: linear-gradient(-45deg, #000000, #0071b3, #000000, #006cd1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
}
