.replayWrap {
  display: flex;
  justify-content: center;
  align-items: center;

  &__replay {
    width: 150px;
    position: relative;
    z-index: 99;
    cursor: pointer;

    &--pulse:hover {
      animation: pulse 1s infinite;
      animation-timing-function: linear;
    }
  }
}
