$bodyDataFirstColor: white;
$bodyDataSecondColor: black;
$bodyDataFirstBgColor: black;
$bodyDataSecondBgColor: white;

// Theme light or night
$bodyDataFirstBgColorMdBlack: black;
$bodyDataFirstBgColorMdBlue1: #0071b3;
$bodyDataFirstBgColorMdBlue2: #006cd1;
$bodyDataSecondBgColorMdWhite: white;
$bodyDataSecondBgColorMdBlue1: #3cb7ff;
$bodyDataSecondBgColorMdBlue2: #55adff;

$lightButtonBgColor: #88d9ff;
$nightButtonBgColor: #383838;

// Firework
$fireworkBlue1: blue;
$fireworkBlue2: #002bff;
$fireworkGreen1: #00ff84;
$fireworkPink1: #ff009d;
$fireworkOrange1: #ffb300;
