// Main
$bodyDataFirstColor: white;
$bodyDataSecondColor: black;
$bodyDataFirstBgColor: black;
$bodyDataSecondBgColor: white;

// Game
$gameBgColor: white;
$gameBorderColor: rgb(0, 132, 255);
$gameBorderColorWin: rgb(14, 214, 64);
$gameBorderColorLose: rgb(255, 0, 0);

// Itemspick
$itemspickBgColor: gray;
$itemspickColor: white;

// Theme light or night
$bodyDataFirstBgColorMdBlack: black;
$bodyDataFirstBgColorMdBlue1: #0071b3;
$bodyDataFirstBgColorMdBlue2: #006cd1;
$bodyDataSecondBgColorMdWhite: white;
$bodyDataSecondBgColorMdBlue1: #3cb7ff;
$bodyDataSecondBgColorMdBlue2: #55adff;
$lightButtonBgColor: #88d9ff;
$nightButtonBgColor: #383838;

// Firework
$fireworkBlue1: blue;
$fireworkBlue2: #002bff;
$fireworkBlue3: #00f6ff;
$fireworkGreen1: #00ff84;
$fireworkGreen2: #99ff00;
$fireworkPink1: #ff009d;
$fireworkPink2: #ff006e;
$fireworkPink3: #ff00d0;
$fireworkOrange1: #ffb300;
$fireworkOrange2: #ff4000;
$fireworkRed1: #ff0400;
$fireworkPurple1: #6200ff;
$fireworkCyan1: #00ddff;
$fireworkCyan2: #00ffd0;
$fireworkCyan3: #00ffdd;
$fireworkYellowGreen1: #a6ff00;
$fireworkBlue4: #0d00ff;
$fireworkBlue5: #005eff;
$fireworkPink4: #ff00a6;
$fireworkRed2: #ff004c;
$fireworkOrange3: #ff6600;
$fireworkPink5: #ff0066;
$fireworkGreen3: #00ffa2;
$fireworkPurple2: #b700ff;
$fireworkPurple3: #9000ff;
$fireworkBlue6: #00bbff;
$fireworkRed3: #ff002f;
$fireworkOrange4: #ffae00;
$fireworkPink6: #f600ff;
$fireworkPurple4: #c800ff;
$fireworkYellow1: #d4ff00;
$fireworkPurple5: #ea00ff;
$fireworkPink7: #ff00d4;
$fireworkCyan4: #00fff2;
$fireworkBlue7: #000dff;
$fireworkGreen4: #9dff00;
$fireworkYellowGreen2: #a6ff00;
$fireworkBlue8: #0099ff;
$fireworkPurple6: #00fffb;
$fireworkGreen5: #00ff73;
$fireworkBlue9: #0088ff;
$fireworkBlue10: #0062ff;
$fireworkPurple7: #b300ff;
$fireworkPurple8: #9000ff;
$fireworkOrange5: #ff6600;
$fireworkBlue11: #1e00ff;
$fireworkPurple9: #c800ff;
$fireworkCyan5: #00ffc8;
$fireworkGreen6: #00ff33;
$fireworkPink8: #ff008c;
