// Fonts
$fontsPath: '/fonts/';

// Space Ranger font
$fontNameFileSpaceRanger: 'spaceranger';
$fontNameSpaceRanger: 'Space Ranger';
@include declareFontFace($fontsPath, $fontNameFileSpaceRanger, $fontNameSpaceRanger);
