.rules {
  text-align: left;

  &__title {
    font-family: $fontNameSpaceRanger, sans-serif;
    font-size: 1.5rem;
  }

  &__description {
    text-align: left;
  }

  &__list {
    text-align: left;
  }
}
